/* EXERCISE 2:  
       Create a CSS class for the task list with a diverse background
       Create a CSS class for the task list item with a border, a bold text and a bigger font size
       Style every button of the page to be bigger
    */

#myTaskList {
  background-color: cornflowerblue;

  list-style-type: none;
  font-size: inherit;
  font-style: oblique;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
  border: medium;
}
